table {
  text-align: center;
  padding-left: 30px;
  border-collapse: collapse;
}

div {
  display: inline-block;
  position: relative;
}

.error {
  color: red;
  font-weight: bold;
  position: absolute;
  width: 100%;
}

td:hover {
  border: 2px solid red;
}

* {
  box-sizing: border-box;
}
